# chrony.conf - Managed by Ansible
# NTP servers are defined in var.yml -> ntp_servers

{% for server in ntp_servers %}
server {{ server }}
{% endfor %}

keyfile /etc/chrony/chrony.keys
commandkey 1
driftfile /var/lib/chrony/chrony.drift

# Step the clock if offset > 0.1s in first 3 updates
makestep 0.1 3

log tracking measurements statistics
logdir /var/log/chrony
maxupdateskew 100.0
dumponexit
dumpdir /var/lib/chrony
local stratum 10
logchange 0.5
rtconutc
rtcsync
